// @fonts-face {
//     fonts-family: Comfortaa_Regular;
//     src: url("../fonts/Comfortaa_Regular.ttf");
// }

.login_register {
  margin-bottom: 64px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #FCFEFF;
  border-radius: 1px;
}

.logo {
  height: 40px;
  width: 110px;
  margin-bottom: 10px;
}

.logo img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.sign_up_page {
  display: flex;
  align-items: center;
  background: #ffffff;

}

.sign_up {
  width: 65%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image_auto {
  width: 70%;
}

#inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#input_login {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#login {
  text-decoration: none;
  font-family: Impact;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #03426a;
}

.login_buttton {
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  box-shadow: 0px 7px 24px 0 rgba(0, 51, 136, 0.26);
  background-color: #48ACE9;
  font-family: Comfortaa-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 1px;
  margin-top: 10px;
  &:disabled {
    background-color: rgba(72, 172, 233, 0.8);
  }
}

.login_buttton:focus {
  outline: none;
}

#register {
  text-decoration: none;
  font-family: Impact;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #03426a;
}

input {
  background: #D7D8D8;
  outline: none;
  border-radius: 2px;
  font-family: Comfortaa-Regular;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6c6c6c;
  width: 100%;
  height: 50px;
  border: none;
  padding-left: 45px;
  margin-top: 2px;
  &:disabled {

  }
}

.image {
  width: 100%;
  height: 100vh;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.validation {
  height: 20px;
  font-size: 80%;
  color: #dc3545;
  text-align: center;
}


@media (max-width: 1300px) {
  #inputs {
    width: 90%;
  }
  #input_login {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .sign_up_page {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 29px;
  }
  .login_register {
    margin-bottom: 42px;
  }
  .image {
    height: 316px;
    width: 76%;
    margin: 0 auto;
  }
  .sign_up {
    width: 80%;
    margin: 0 auto;
  }
  .image_auto {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .sign_up_page {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .sign_up {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  input {
    height: 49px;
  }
}

