:host {
  width: 100%;
}

.employee {
  padding: 60px 100px;

  .head {
    font-size: 30px;
    font-family: Comfortaa, serif;
    font-weight: bold;
    color: #0042c5;
    margin-bottom: 14px;
  }
}

table {
  font-family: Comfortaa, serif;

  tbody {
    tr {
      td {
        border-top: none;
        border-bottom: 1px dashed rgb(208, 208, 208);
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
        img {
          height: 20px;
          margin-right: 10px;
        }
        &.function {
          img {
            opacity: 0.5;
            height: 20px;
            cursor: pointer ;
            &:first-child {
              margin-right: 25px;
            }
          }
        }
      }

    }
  }
  thead {
    tr {
      th {
        text-align: center;
        border-top: 1px solid rgb(136, 136, 136);
        border-bottom: 1px solid rgb(136, 136, 136);
      }
    }
  }
}


.circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 20px #b4b4b4;
  border: 1px solid white;
  margin: auto;
  &-1 {
    background: rgb(0, 163, 29);
  }
  &-0 {
    background: red;
  }
  &-2 {
    background: rgb(255, 204, 0);
  }
}

.circles {
  font-family: Comfortaa, serif;
  display: flex;
  margin-top: 100px;
  .el {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    padding-right: 10px;
    .circle {

      margin: 0 10px 0 0;
    }
  }
}
