<div class="employee">
  <div class="head">Employee list and details</div>
  <table class="table">
    <thead>
    <tr>
      <th>Member</th>
      <th>Work day</th>
      <th>Working hours</th>
      <th>Status</th>
      <th>Employee id</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of service.data$ | async">
      <td><img src="/assets/035-user.png" alt="">{{el.firstName + ' ' + el.lastName}}</td>
      <td>{{el.workDay | amDateFormat: 'DD MMMM YYYY'}}</td>
      <td>{{el.timeFinished | amDifference: el.timeStart | amFromUtc | amDateFormat: 'HH:mm'}}</td>
      <td>
        <div class="circle circle-{{el.status}}"></div>
      </td>
      <td>{{el.employee_id}}</td>
      <td class="function">
        <img src="/assets/edit.png" alt="" (click)="openEditDialog(el)">
        <img src="/assets/rubbish-bin.png" alt="" (click)="service.delete(el)">
      </td>
    </tr>
    </tbody>
  </table>
  <div class="circles">
    <div class="el">
      <div class="circle circle-green"></div>
      Works
    </div>
    <div class="el">
      <div class="circle circle-yellow"></div>
      <div>Temporarily
        not working
      </div>

    </div>
    <div class="el">
      <div class="circle circle-red"></div>
      Does not work
    </div>
  </div>

</div>


<p-dialog [(visible)]="displayEditDialog" width="500">
  <p-header>
    {{new ? 'New' : 'Edit'}}
  </p-header>
  <ng-container *ngIf="editData">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" class="form-control" placeholder="First Name" [(ngModel)]="editData.firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" class="form-control" placeholder="Last Name" [(ngModel)]="editData.lastName">
    </div>
    <div class="form-group">
      <label for="workDay">Work day</label><br>
      <app-custom-date id="workDay" [disabled]="!new" placeholder="Work day" [(value)]="editData.workDay"></app-custom-date>
    </div>
    <div class="form-group">
      <label>Working hours</label><br>
      <label class="mr-1">start: </label><app-custom-time [disabled]="!new" [(value)]="editData.timeStart"></app-custom-time>
      <label class="ml-2 mr-1">finished:</label><app-custom-time [disabled]="!new" [(value)]="editData.timeFinished"></app-custom-time>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select name="type" [disabled]="!new" id="status" class="form-control" [(ngModel)]="editData.status">
        <option value="green">Works</option>
        <option value="yellow">Temporarily not working</option>
        <option value="red">Does not work</option>
      </select>
    </div>
    <div class="form-group">
      <label for="employee_id">Employee id</label>
      <input type="number" id="employee_id" class="form-control" placeholder="Employee id"
             [(ngModel)]="editData.employee_id">
    </div>
  </ng-container>
  <p-footer>
    <button class="btn btn-danger" (click)="displayEditDialog = false">Cancel</button>
    <button class="btn btn-success" (click)="saveEl()">{{new ? 'Add' : 'Save'}}</button>
  </p-footer>
</p-dialog>
