<div class="washing-bay">
  <div class="head">Washing bay listing</div>

  <table class="table">
    <thead>
    <tr>
      <th>Spot Name</th>
      <th>Spot Number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of service.data$ | async">
      <td>{{ el.spotName }}</td>
      <td>{{el.spotNumber}}</td>

      <td class="function">
        <img src="/assets/edit.png" alt="" (click)="openEditDialog(el)">
        <img src="/assets/rubbish-bin.png" alt="" (click)="service.delete(el)">
      </td>
    </tr>
    </tbody>
  </table>

</div>
<p-dialog [(visible)]="displayEditDialog">
  <p-header>
    {{new ? 'New' : 'Edit'}}
  </p-header>
  <ng-container *ngIf="editData">
    <div class="form-group">
      <label for="spotName">Spot Name</label>
      <input type="text" id="spotName" class="form-control" placeholder="Spot Name" [(ngModel)]="editData.spotName">
    </div>
    <div class="form-group">
      <label for="spotNumber">Spot Number</label>
      <input type="number" id="spotNumber" class="form-control" placeholder="Spot Number" [(ngModel)]="editData.spotNumber">
    </div>
  </ng-container>
  <p-footer>
    <button class="btn btn-danger" (click)="displayEditDialog = false">Cancel</button>
    <button class="btn btn-success" (click)="saveEl()">{{new ? 'Add' : 'Save'}}</button>
  </p-footer>
</p-dialog>
