.service {
  background-color: #0042c5;
}

.service-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background: rgb(240, 240, 240);
  color: rgb(0, 66, 197);
  min-height: calc(100vh - 132px);
}

.service {
  display: none;
}

.service.active {
  display: block;
}

.service_listing a {
  display: flex;
}

.new_service a {
  display: flex;
}

.new_service img {
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin-right: 19px;
}

.service_listing img {
  object-fit: contain;
  width: 100%;
  height: 25px;
  margin-right: 19px;
}

.car {
  margin-right: 10px;
  width: 30px;
  height: 12px;
}

.service p {
  text-decoration: none;
  font-family: Comfortaa_Bold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
}

ul {
  li.nav-item {
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    line-height: 16px;
    font-family: Comfortaa, serif;
    font-weight: bold;


    &:hover {
      background: lighten(rgb(183, 234, 255), 4);
    }

    &.active {
      background: rgb(183, 234, 255);

    }

    img {
      height: 60px;
      margin-bottom: 10px;
    }
  }
}
