.dashboard {
  padding: 60px 100px;

  .head {
    font-size: 30px;
    font-family: Comfortaa, serif;
    font-weight: bold;
    color: #0042c5;
    margin-bottom: 14px;
  }

  .options {
    .calendar {
      img {
        height: 30px;
      }
    }
  }
}
