<div class="service">
  <div class="head">Service listing</div>

  <table class="table">
    <thead>
    <tr>
      <th>Service Name</th>
      <th>Vehicle Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let el of service.data$ | async">
      <td>{{el.serviceName}}</td>
      <td class="service-type">
        <select name="type" [value]="el.serviceType">
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
      </td>
      <td class="function">
        <img src="/assets/edit.png" alt="" (click)="openEditDialog(el)">
        <img src="/assets/rubbish-bin.png" alt="" (click)="service.delete(el)">
      </td>
    </tr>
    </tbody>
  </table>

</div>
<p-dialog [(visible)]="displayEditDialog">
  <p-header>
    {{new ? 'New' : 'Edit'}}
  </p-header>
  <ng-container *ngIf="editData">
    <div class="form-group">
      <label for="serviceName">Service Name</label>
      <input type="text" id="serviceName" class="form-control" placeholder="Service Name" [(ngModel)]="editData.serviceName">
    </div>
    <div class="form-group">
      <label for="serviceType">Vehicle Type</label>
      <select name="type" id="serviceType" class="form-control" [(ngModel)]="editData.serviceType">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
    </div>
  </ng-container>
  <p-footer>
    <button class="btn btn-danger" (click)="displayEditDialog = false">Cancel</button>
    <button class="btn btn-success" (click)="saveEl()">{{new ? 'Add' : 'Save'}}</button>
  </p-footer>
</p-dialog>
