.user-list {
  .head {
    font-size: 30px;
    font-family: Comfortaa, serif;
    font-weight: bold;
    color: #0042c5;
    margin-bottom: 14px;
  }
}

table {
  font-family: Comfortaa, serif;

  tbody {
    tr {
      td {
        border-top: none;
        border-bottom: 1px dashed rgb(208, 208, 208);
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;

        &:first-child {
          text-align: left;
        }

        img {
          height: 20px;
          margin-right: 10px;
        }

        &.function {
          text-align: right;
          img {
            opacity: 0.5;
            height: 20px;
            cursor: pointer;

            &:first-child {
              margin-right: 25px;
            }
          }
        }
      }

    }
  }

  thead {
    tr {
      th {
        text-align: center;
        border-top: 1px solid rgb(136, 136, 136);
        border-bottom: 1px solid rgb(136, 136, 136);

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}
