@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";


@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa_Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Comfortaa_Bold';
  src: url('assets/fonts/Comfortaa_Bold.ttf');
}

@font-face {
  font-family: 'Comfortaa_Thin';
  src: url('assets/fonts/Comfortaa_Thin.ttf');
}
